footer.footer
  .footer__top
    .footer__top__container.flex-container.container
      a.huincha-fotter-icon.hide(to='https://www.easy.cl/es/cl/easy-chile/tiendas' href='https://www.easy.cl/es/cl/easy-chile/tiendas' target='_blank' rel='noopener noreferrer')
        img.huincha-fotter-icon__img(src='https://www.easy.cl/minisitios/footer/SVG/tinda-footer.svg' alt='Horarios y tiendas - icon')
        span.huincha-fotter-icon__title Horarios y tiendas
        span.huincha-fotter-icon__desc Conoce nuestro horarios de atenci&oacute;n
      a.huincha-fotter-icon(to='https://www.easy.cl/es/cl/easy-chile/ayuda' href='https://www.easy.cl/es/cl/easy-chile/ayuda' target='_blank' rel='noopener noreferrer')
        img.huincha-fotter-icon__img(src='https://www.easy.cl/minisitios/footer/SVG/ayuda-footer.svg' alt='Centro de Ayuda - icon')
        span.huincha-fotter-icon__title Centro de Ayuda
        span.huincha-fotter-icon__desc Informaci&oacute;n &uacute;til para mejorar tu experiencia
      a.huincha-fotter-icon.hide(to='tel://6006003279' href='tel://6006003279' target='_blank' rel='noopener noreferrer')
        img.huincha-fotter-icon__img(src='https://www.easy.cl/minisitios/footer/SVG/venta-footer.svg' alt='Venta telefónica - icon')
        span.huincha-fotter-icon__title Venta telef&oacute;nica
        span.huincha-fotter-icon__desc 600 600 3279 desde las 09:00 a 21:00
      a.huincha-fotter-icon.hide(to='https://www.easy.cl/tienda/seguimiento' value='seguimiento-footer-huincha' href='https://www.easy.cl/tienda/seguimiento' target='_self' rel='noopener noreferrer')
        img.huincha-fotter-icon__img(src='https://www.easy.cl/minisitios/footer/SVG/despacho-footer.svg' alt='Seguimiento de tu compra - icon')
        span.huincha-fotter-icon__title Sigue tu compra
        span.huincha-fotter-icon__desc Conoce el estado de tu orden
      a.huincha-fotter-icon.hide(to='https://www.easy.cl/ResetPasswordGuestErrorView?state=forgetpassword&catalogId=10051&langId=-5&storeId=10151' href='https://www.easy.cl/ResetPasswordGuestErrorView?state=forgetpassword&catalogId=10051&langId=-5&storeId=10151' target='_blank' rel='noopener noreferrer')
        img.huincha-fotter-icon__img(src='https://www.easy.cl/minisitios/footer/SVG/clave-footer.svg' alt='Recuperar contraseña - icon')
        span.huincha-fotter-icon__title Recuperar contrase&ntilde;a
        span.huincha-fotter-icon__desc &iquest;Olvidaste tu clave?
  .footer_uxlab.container.flex-container
    .lado_izquierdo
      .izq1.flex-container
        .izq
          label.accordionitem(for='tm')
            h2.izq__title Servicios
          input#tm(type='checkbox')
          .hiddentext
            a.izq__link(to='https://www.easy.cl/AjaxLogonForm?catalogId=10051&myAcctMain=1&langId=-5&storeId=10151' href='https://www.easy.cl/AjaxLogonForm?catalogId=10051&myAcctMain=1&langId=-5&storeId=10151') Mi cuenta
            a.izq__link(to='https://www.easy.cl/es/cl/easy-chile/servicio-tecnico' href='https://www.easy.cl/es/cl/easy-chile/servicio-tecnico') Servicio t&eacute;cnico
            a.izq__link(to='https://www.easy.cl/tienda/categoria/servicios' href='https://www.easy.cl/tienda/categoria/servicios') Nuestros servicios
            a.izq__link(to='https://www.easy.cl/GuestOrderTracking?orderStatusStyle=strong&catalogId=10051&langId=-5&storeId=10151' href='https://www.easy.cl/tienda/seguimiento' value='seguimiento-footer') Sigue tu compra
            a.izq__link(to='http://cencosud.paperless.cl/boletaEASY/' href='http://cencosud.paperless.cl/boletaEASY/') Recupera tu boleta
        .izq
          label.accordionitem(for='tn')
            h2.izq__title Centro de ayuda
          input#tn(type='checkbox')
          .hiddentext
            a.izq__link(to='https://www.easy.cl/es/cl/easy-chile/ayuda' href='https://www.easy.cl/es/cl/easy-chile/ayuda') Ayuda
            a.izq__link(to='https://www.easy.cl/es/cl/easy-chile/devoluciones-cambios' href='https://www.easy.cl/es/cl/easy-chile/devoluciones-cambios') Cambios y devoluciones
            a.izq__link(to='https://www.easy.cl/es/cl/easy-chile/retiro-en-tienda' href='https://www.easy.cl/es/cl/easy-chile/retiro-en-tienda') Retiro en tienda
            a.izq__link(to='https://www.easy.cl/es/cl/easy-chile/ayuda' href='https://www.easy.cl/es/cl/easy-chile/ayuda') Preguntas frecuentes
            a.izq__link(to='https://www.easy.cl/es/cl/easy-chile/despacho-domicilio' href='https://www.easy.cl/es/cl/easy-chile/despacho-domicilio') Despacho a domicilio
            a.izq__link(to='https://www.easy.cl/es/cl/easy-chile/terminos-easy' href='https://www.easy.cl/es/cl/easy-chile/terminos-easy') T&eacute;rminos y condiciones
        .izq
          label.accordionitem(for='to')
            h2.izq__title Nosotros
          input#to(type='checkbox')
          .hiddentext
            a.izq__link(to='https://www.easy.cl/es/cl/easy-chile/acerca-de-easy' href='https://www.easy.cl/es/cl/easy-chile/acerca-de-easy') Acerca de Easy
            a.izq__link(to='https://www.cencosud.com/' href='https://www.cencosud.com/') Acerca de Cencosud
            a.izq__link(to='https://www.easy.cl/es/cl/easy-chile/tiendas' href='https://www.easy.cl/es/cl/easy-chile/tiendas') Nuestras tiendas
            a.izq__link(to='https://inspiracionesparatuhogar.cl/' href='https://inspiracionesparatuhogar.cl/') Consejos e inspiraci&oacute;n
            a.izq__link(to='https://www.easy.cl/sitios/Codigo-de-Etica.pdf' href='https://www.easy.cl/sitios/Codigo-de-Etica.pdf') C&oacute;digo de &Eacute;tica
            a.izq__link(to='https://www.easy.cl/es/cl/easy-chile/ayuda' href='https://www.easy.cl/es/cl/easy-chile/ayuda') Cont&aacute;ctanos
            a.izq__link(to='#' href='#') Cyberday 2021
        .izq
          label.accordionitem(for='fo')
            h2.izq__title Cencosud
          input#fo(type='checkbox')
          .hiddentext
            a.izq__link(to='https://www.paris.cl/tienda/es/paris' href='https://www.paris.cl/tienda/es/paris') Paris
            a.izq__link(to='https://www.santaisabel.cl/' href='https://www.santaisabel.cl/') Santa Isabel
            a.izq__link(to='https://www.jumbo.cl/' href='https://www.jumbo.cl/') Jumbo
            a.izq__link(to='http://www.johnson.cl/' href='http://www.johnson.cl/') Johnson
            a.izq__link(to='https://www.umbrale.cl/' href='https://www.umbrale.cl/') Umbrale
            a.izq__link(to='https://www.tarjetacencosud.cl/TarjetaMasWEB/inicio.do?utm_source=easy_cl&utm_medium=Footer&utm_content=rfcl&utm_campaign=Marca' target='_blank' href='https://www.tarjetacencosud.cl/TarjetaMasWEB/inicio.do?utm_source=easy_cl&utm_medium=Footer&utm_content=rfcl&utm_campaign=Marca') Tarjeta Cencosud Scotiabank
      .izq2.flex-container
        img.map.img(src='https://www.easy.cl/minisitios/footer/SVG/compra-segura.svg' alt='compra 100% segura')
        a.map(href='https://www.easy.cl/es/cl/easy-chile/mapa-sitio') Mapa del sitio
        a.map(href='https://www.easy.cl/es/cl/easy-chile/privacidad') Privacidad
        a.map(href='https://www.easy.cl/es/cl/easy-chile/terminos-easy') T&eacute;rminos y condiciones
        a.map(href='https://www.easy.cl/minisitios/politica-proveedores-easy.pdf' target='_blank') Pol&iacute;tica de proveedores
    .lado_derecho
      .ventatelefonica_footer
        p.ventatelefonica_footer__title Venta Telef&oacute;nica
        a.ventatelefonica_footer__link(href='tel:6006003279') 600 600 3279
        p.ventatelefonica_footer__title Servicio al cliente
        a.ventatelefonica_footer__link(href='tel:6006003010') 600 600 3010
      .redessocial_footeres_footer
        p.redessocial_footeres_footer__title Siguenos en:
        .social_footer
          .social_footer__item
            a(href='https://www.facebook.com/easychile/' target='_blank' rel='noopener noreferrer')
              img(src='https://www.easy.cl/minisitios/footer/facebook-footer.png' width='33px' height='33px' alt='fb icon')
          .social_footer__item
            a(href='https://www.pinterest.com/easychile/' target='_blank' rel='noopener noreferrer')
              img(src='https://www.easy.cl/minisitios/footer/pinterest-footer.png' idth='33px' height='33px' alt='pinterest icon')
          .social_footer__item
            a(href='https://www.twitter.com/easytienda/' target='_blank' rel='noopener noreferrer')
              img(src='https://www.easy.cl/minisitios/footer/twitter-footer.png' idth='33px' height='33px' alt='twitter icon')
          .social_footer__item
            a(href='https://instagram.com/easytienda/' target='_blank' rel='noopener noreferrer')
              img(src='https://www.easy.cl/minisitios/footer/instagram-footer.png' idth='33px' height='33px' alt='instagram icon')
          .social_footer__item
            a(href='https://www.youtube.com/user/easychile/' target='_blank' rel='noopener noreferrer')
              img(src='https://www.easy.cl/minisitios/footer/youtube-footer.png' idth='33px' height='33px' alt='youtube icon')
  .footer__bottom
    .container
      p.fot &copy; 2017 | Easy todos los derechos reservados
